.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  
  .example-toolbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0babab9;
    background-color: #fff;
  }
  
  .hov {
    background-color: transparent;
    position: relative;
   
  }
  .menu-icon{
    width: 35px;
    height: 15px;
    border-radius: 10px;
    display: flex;
  }
  
  .hov:hover {
    background-color: #d6d1d1;
  }
  
  .icon {
    left: 30px;
  }
  
  .cap {
    position: relative;
    font-size: large;
    color: rgb(88, 88, 88);
  
  }

  
  .search-box {
 
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #c9c9c9;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 50px;
  
    input {
      background-color: #c9c9c9;
      border: none;
      border-radius: 5px;
      height: 40px;
      width: 200px;
    }
  
    img {
      padding: 5px;
      left: 5px;
      position: relative;
      height: 30px;
  
    }
  
    img:hover {
      background-color: #929191;
      border-radius: 50%;
    }
  }
.setting-icon{
  margin-right: 40px;
  padding-left: 40px;
}

  
  .right_icons {
  
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-right: 20px;
  
    :hover {
      background-color: #e6e8e9;
      border-radius: 50%;
    }
  
    img {
      margin-right: 10px;
      padding: 10px;
      height: 30px;
    }
  
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    :hover {
      background-color: #f1f3f4;
      border-radius: 50%;
    }
  
    img {
      margin-right: 10px;
      padding: 5px;
      height: 25px;
    }
  }
  
  .sidenav-container {
    height: 100%;
    width: 100%;
  }
  
  .nav-list {
    margin-bottom: 10px;
    letter-spacing: 1px;
  
    a:hover {
      background-color: #feefc3;
      width: 250px;
    }
  
    img {
      margin-right: 30px;
      height: 20px;
    }
  }
  
  mat-list-item {
    height: 500px;
  }.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-toolbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0babab9;
    background-color: #fff;
  }
  
  .hov {
    background-color: transparent;
    position: relative;
  }
  
  
  .hov:hover {
    background-color: #d6d1d1;
  }
  
  .icon {
    left: 10px;
  }
  
  .cap {
    position: relative;
    font-size: large;
    color: rgb(88, 88, 88);
  
  }
  
  .search-box {
  
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #c9c9c9;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 50px;
  
    input {
      background-color: #c9c9c9;
      border: none;
      border-radius: 5px;
      height: 40px;
      width: 200px;
    }
  
    img {
      padding: 5px;
      left: 5px;
      position: relative;
      height: 30px;
  
    }
  
    img:hover {
      background-color: #929191;
      border-radius: 50%;
    }
  }
  
  .right_icons {
  
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-right: 30px;
  
    :hover {
      background-color: #e6e8e9;
      border-radius: 50%;
    }
  
    img {
      margin-right: 10px;
      padding: 10px;
      height: 30px;
    }
  
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    :hover {
      background-color: #f1f3f4;
      border-radius: 50%;
    }
  
    img {
      margin-right: 10px;
      padding: 5px;
      height: 25px;
    }
  }
  
  .sidenav-container {
    height: 100%;
    width: 100%;
  }
  
  .nav-list {
    margin-bottom: 10px;
    letter-spacing: 1px;
  
    a:hover {
      background-color: #feefc3;
      width: 250px;
    }
  
    img {
      margin-right: 30px;
      height: 20px;
    }
  }
  
  mat-list-item {
    height: 500px;
  }