<form [formGroup]="createForm">
    <mat-card class="maincontainer">
        <div class="title" *ngIf="show">
            <input name="text" class="title1" type="text" placeholder="Title" formControlName="title">

            <img height="30px" width="30px" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        </div>
        <div class="descript" *ngIf="show || !show" (click)="isShow()">
            <input class="title2" type="text" matInput placeholder="Take a note..." formControlName="description">

            <div class="icons" *ngIf="!show">
                <img height="25px" width="25px" src="../../../assets/check_box_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                <img height="25px" width="25px" src="../../../assets/brush_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                <img height="25px" width="25px" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="">
            </div>
        </div>
        <div class="close1" *ngIf="show">
            <img height="25px" width="25px" src="../../../assets/remind-me.svg" alt="">
            <img height="25px" width="25px" src="../../../assets/collaborate.svg" alt="">
            <img height="25px" width="25px" src="../../../assets/palette_black_24dp.svg" alt="">
            <img height="25px" width="25px" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="">
            <img height="25px" width="25px" src="../../../assets/archive_black_24dp.svg" alt="">
            <img height="25px" width="25px" src="../../../assets/more_vert_black_24dp.svg" alt="">
            <button class="button" *ngIf="show" (click)="close()">Close</button>
        </div>

    </mat-card>
</form>